@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Basic styling for the About Us page */
body {
      font-family: "Poppins",
            sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f5f5f5;
      color: #333;
}


.about-section {
      padding: 2rem;
      max-width: 1120px;
      margin: 0 auto;
}

/* About Content */
.about-content {
      display: flex;
      align-items: center;
      gap: 2rem;
      margin-bottom: 2rem;
}

.about-image img {
      max-width: 100%;
      border-radius: 10px;
}

.about-text {
      flex: 1;
}

.about-text h1 {
      font-size: 2.2rem;
      color: #000;
      margin-bottom: 1rem;
}

.about-text p {
      text-align: justify;
      font-size: 1rem;
      color: #000;
      line-height: 1.5;
}

/* Mission and Values */
.mission-values {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      margin-bottom: 2rem;
}

.mission,
.values {
      flex: 1;
      background: #fff;
      padding: 1.5rem;
      border-radius: 8px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.mission h2,
.values h2 {
      color: #000;
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
}

.mission p {
      color: #000;
      text-align: justify;
}



.values ul {
      text-align: justify;
      list-style: none;
      padding-left: 0;
}

.values li {
      margin-bottom: 1rem;
      line-height: 1.5;
      color: #000;
}

.values strong {
      color: #333;
}

/* What Sets Us Apart */
.what-sets-us-apart {
      background: #fff;
      padding: 1.5rem;
      border-radius: 8px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.what-sets-us-apart h2 {
      color: #000;
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
}

.what-sets-us-apart ul {
      list-style: none;
      padding-left: 0;
}

.what-sets-us-apart li {
      color: #000;
      text-align: justify;
      margin-bottom: 1rem;
      line-height: 1.5;
}

/* Responsive Styles */
@media (max-width: 768px) {
      .about-content {
            flex-direction: column;
            text-align: center;
      }

      .mission-values {
            flex-direction: column;
      }

      .about-text h1 {
            font-size: 1.8rem;
      }

      .about-text p {
            font-size: 0.95rem;
      }
}

@media (max-width: 480px) {
      .about-text h1 {
            font-size: 1.6rem;
      }

      .about-text p,
      .mission h2,
      .values h2,
      .what-sets-us-apart h2 {
            font-size: 0.9rem;
      }

      .mission,
      .values,
      .what-sets-us-apart {
            padding: 1rem;
      }
}